################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/active-directory-snippets/v17/.suo
/.vs/active-directory-snippets/FileContentIndex/read.lock
/.vs/active-directory-snippets/FileContentIndex/0bf579ea-f1ea-482d-a9b1-a671761f6b97.vsidx
